body {
    margin: 0;
    font-family: tahoma;
    background-color: #55efc4;
}
.main-menu {
    position: fixed;
    top: 0;
    right: 0;
}
.main-menu ul {
   display: flex;
}
.main-menu ul li {
    list-style: none;
}
.main-menu ul li a {
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 30px;
    display: block;
}

.main-menu ul li:hover a {
    border-bottom: 2px solid tomato;
}
.active {
    border-bottom: 2px solid tomato;
}
/* another-section */
.container {
    width: 90%;
    margin: auto;
}
.zakat-1 {
    display: flex;
}
/* another-section */
.zakat-2 {
    display: flex;
}
/* another-section */
.middle {
    display: flex;
}
.mid {
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
}
section {
    margin: 100px 0;
}

